/BERT-NER-Pytorch/output_model
/BERT-NER-Pytorch/prev_trained_model
/named_entity_recognition/ckpts/
/.idea/
/Relation_Extraction/BERT-Relation-Extraction/v2/checkpoint/
/Relation_Extraction/BERT-Relation-Extraction-main/checkpoint/
/Relation_Extraction/BERT-Relation-Extraction-main/model_hub/
/Relation_Extraction/BERT-Relation-Extraction/v2/model_hub/
/Relation_Extraction/BERT-Relation-Extraction/v2/data/
/Relation_Extraction/BERT-Relation-Extraction/v2/.ipynb_checkpoints/
/Relation_Extraction/BERT-Relation-Extraction-main/data/
